In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import glob

In [29]:
all_files = glob.glob('./data/' +'/results_class_*.txt')

li = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

res_file =  pd.concat(li, axis=0, ignore_index=True)
res_file.head(20)

./data/results_class_2019-07-01.txt

  lang  topK  isbert  correct%
0   en     1   False   0.73145
1   en     1    True   0.69258
2   en     2   False   0.84452
3   en     2    True   0.78799
4   en     3   False   0.86572

In [30]:
all_lang = set(res_file['lang'])
all_lang

{'en', 'no', 'sv'}

In [33]:
#### draw a plot
%matplotlib inline

for lang in all_lang:
    plt.figure(figsize=(6, 4))
    plt.plot( 'topK', 'correct%', data=res_file[(res_file['isbert']==False) & (res_file['lang'] == lang)], marker='o', markerfacecolor='blue', markersize=12, 
             color='skyblue', linewidth=4, label='LASER')
    plt.plot( 'topK', 'correct%', data=res_file[(res_file['isbert']==True) & (res_file['lang'] == lang)], marker='^', markerfacecolor='green', markersize=12,
             color='palegreen', linewidth=4, label='BERT')
    plt.ylim(0.3, 0.9);
    plt.xlim(0.8, 3.2);
    plt.xticks(np.arange(1, 4, 1.0))#### min, max, step
    plt.legend()
    plt.gca().set_title('LANG = {}'.format(lang))
    plt.savefig('./data/result_class_{:s}.png'.format(lang))
    plt.close()

In [32]:
res_file.head(20)

   lang  topK  isbert  correct%
0    en     1   False   0.73145
1    en     1    True   0.69258
2    en     2   False   0.84452
3    en     2    True   0.78799
4    en     3   False   0.86572
5    en     3    True   0.83392
6    sv     1   False   0.73545
7    sv     1    True   0.42328
8    sv     2   False   0.84127
9    sv     2    True   0.54674
10   sv     3   False   0.86772
11   sv     3    True   0.59083
12   no     1   False   0.72738
13   no     1    True   0.33020
14   no     2   False   0.83431
15   no     2    True   0.46651
16   no     3   False   0.86604
17   no     3    True   0.51586